{% extends 'user/userBase.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainPageUser.css' %}">
{% endblock %}

{% block content %}
    <div class="product-container">
        {% for product in products %}
            <div class="product" onclick="showProductPopup('{{ product.id }}', '{{ product.title|escapejs }}', '{{ product.description|escapejs }}', '{{ product.price }}', '{{ product.images }}')">
                <h3>{{ product.title }}</h3>
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                {% if product.images %}
                    <img src="data:image/jpeg;base64,{{ product.images }}" alt="{{ product.title }}" style="min-height: 70%; max-height: 70%; min-width: 90%; max-width: 90%; margin-left: 5%;">
                {% endif %}
            </div>
        {% endfor %}
    </div>
    
    <div class="mainPage-popup" id="productPopup" style="z-index: 20; background-color: #FFF7F1; padding: 20px; box-shadow: 0px 0px 10px #000; min-width: 50%;">
        
    </div>

    <!-- Pagination -->
    <div class="pagination-container fixed-bottom text-center mb-3 justify-content-center">
        <ul class="pagination justify-content-center">
            {% if current_page > 3 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
            {% endif %}
            {% for page_num in page_range %}
                {% if page_num >= current_page|add:"-2" and page_num <= current_page|add:"2" %}
                    <li class="page-item {% if page_num == current_page %}active{% endif %}">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if current_page < total_pages|add:"-2" %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ total_pages }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const productsData = JSON.parse('{{ products|escapejs }}');

        $(document).ready(function() {
            $(document).on('click', '.pagination .page-link', function(e) {
                e.preventDefault();
                var page = $(this).attr('href').split('page=')[1];
                loadProducts(page);
            });

            $(document).on('click', function(e) {
                const popup = document.getElementById('productPopup');
                if (!popup.contains(e.target)) {
                    closePopup();
                }
            });
        });

        function loadProducts(page) {
            $.ajax({
                url: '/user/main',
                data: {'page': page},
                success: function(data) {
                    $('.product-container').html($(data).find('.product-container').html());
                    $('.pagination').html($(data).find('.pagination').html());
                }
            });
        }
        function showProductPopup(productId, title, description, price, images) {
            closePopup();
            let overlay = document.getElementById('overlay');
            if (!overlay) {
                overlay = document.createElement('div');
                overlay.id = 'overlay';
                overlay.style.position = 'fixed';
                overlay.style.top = '0';
                overlay.style.left = '0';
                overlay.style.width = '100%';
                overlay.style.height = '100%';
                overlay.style.backgroundColor = 'rgba(0, 0, 0, 0.7)';
                overlay.style.zIndex = '2';
                document.body.appendChild(overlay);  
            }

            const popup = document.getElementById('productPopup');
            popup.innerHTML = `
                <h3>${title}</h3>
                <p>${description}</p>
                <p>Price: $${price}</p>
                ${images ? `<img src='data:image/jpeg;base64,${images}' alt='${title}' style='min-width: 100%; display: block; margin: auto;'>` : ''}
            `;
            popup.style.display = 'block'; 
            overlay.style.display = 'block'; 

            overlay.onclick = function() {
                popup.style.display = 'none';
                overlay.style.display = 'none';
            };
        }

        function closePopup() {
            const popup = document.getElementById('productPopup');
            popup.innerHTML = '';
            popup.style.display = 'none';
        }
    </script>
{% endblock %}
