{% extends 'user/userBase.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainPageUser.css' %}">
{% endblock %}

{% block content %}  
    <div class="categories-slide" id="cat-slide">
        <button class="arrow-button" id="left-arrow-button">
            <img src="{% static 'LeftButton.svg' %}" alt="Search Icon" style="height: 100%; width: 100%;">
        </button>

        {% for category in categories %}
            <div class="category-showcase">{{ category.category_name }}</div>
        {% endfor %}

        <button class="arrow-button" id="right-arrow-button">
            <img src="{% static 'RightButton.svg' %}" alt="Search Icon" style="height: 100%; width: 100%;">
        </button>
    </div>

    <div class="filter-area">
        <button>FILTER</button>
    </div>

    <div class="product-container">
        {% for product in products %}
            <div class="product">
                <h3 onclick="showProductPopup('{{ product.product_id }}', '{{ product.title|escapejs }}', '{{ product.description|escapejs }}', '{{ product.price }}', '{{ product.images }}')">{{ product.title }}</h3>
                <p onclick="showProductPopup('{{ product.product_id }}', '{{ product.title|escapejs }}', '{{ product.description|escapejs }}', '{{ product.price }}', '{{ product.images }}')">{{ product.description }}</p>
                <p onclick="showProductPopup('{{ product.product_id }}', '{{ product.title|escapejs }}', '{{ product.description|escapejs }}', '{{ product.price }}', '{{ product.images }}')">Price: ${{ product.price }}</p>
                {% if product.images %}
                    <img onclick="showProductPopup('{{ product.product_id }}', '{{ product.title|escapejs }}', '{{ product.description|escapejs }}', '{{ product.price }}', '{{ product.images }}')" src="data:image/jpeg;base64,{{ product.images }}" alt="{{ product.title }}" style="min-height: 70%; max-height: 70%; min-width: 90%; max-width: 90%; margin-left: 5%;">
                {% endif %}
                <div class="rate-container">
                    <div class="rate" id="rate_{{ product.product_id }}">
                        {% if product.rating == 5 %}
                            <input type="radio" id="star5_{{ product.product_id }}" name="rate_{{ product.product_id }}" value="5" checked/>
                        {% else %}
                            <input type="radio" id="star5_{{ product.product_id }}" name="rate_{{ product.product_id }}" value="5"/>
                        {% endif %}
                        <label for="star5_{{ product.product_id }}" title="text">5 stars</label>
                    
                        {% if product.rating >= 4 and product.rating < 5 %}
                            <input type="radio" id="star4_{{ product.product_id }}" name="rate_{{ product.product_id }}" value="4" checked/>
                        {% else %}
                            <input type="radio" id="star4_{{ product.product_id }}" name="rate_{{ product.product_id }}" value="4"/>
                        {% endif %}
                        <label for="star4_{{ product.product_id }}" title="text">4 stars</label>
                    
                        {% if product.rating >= 3 and product.rating < 4 %}
                            <input type="radio" id="star3_{{ product.product_id }}" name="rate_{{ product.product_id }}" value="3" checked/>
                        {% else %}
                            <input type="radio" id="star3_{{ product.product_id }}" name="rate_{{ product.product_id }}" value="3"/>
                        {% endif %}
                        <label for="star3_{{ product.product_id }}" title="text">3 stars</label>
                    
                        {% if product.rating >= 2 and product.rating < 3 %}
                            <input type="radio" id="star2_{{ product.product_id }}" name="rate_{{ product.product_id }}" value="2" checked/>
                        {% else %}
                            <input type="radio" id="star2_{{ product.product_id }}" name="rate_{{ product.product_id }}" value="2"/>
                        {% endif %}
                        <label for="star2_{{ product.product_id }}" title="text">2 stars</label>
                    
                        {% if product.rating >= 1 and product.rating < 2 %}
                            <input type="radio" id="star1_{{ product.product_id }}" name="rate_{{ product.product_id }}" value="1" checked/>
                        {% else %}
                            <input type="radio" id="star1_{{ product.product_id }}" name="rate_{{ product.product_id }}" value="1"/>
                        {% endif %}
                        <label for="star1_{{ product.product_id }}" title="text">1 star</label>
                    </div>
                    
                    <div class="number-of-ratings">({{ product.number_of_rating }})</div>
                </div>
                
            </div>
        {% endfor %}
    </div>
    
    <div class="mainPage-popup" id="productPopup" style="z-index: 20; background-color: #FFF7F1; padding: 20px; box-shadow: 0px 0px 10px #000; min-width: 50%;"></div>

    <!-- Pagination -->
    <div class="pagination-container text-center justify-content-center">
        <ul class="pagination justify-content-center">
            {% if current_page > 3 %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
            {% endif %}
            {% for page_num in page_range %}
                {% if page_num >= current_page|add:"-2" and page_num <= current_page|add:"2" %}
                    <li class="page-item {% if page_num == current_page %}active{% endif %}">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if current_page < total_pages|add:"-2" %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ total_pages }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const productsData = JSON.parse('{{ products|escapejs }}');

        $(document).ready(function() {
            $(document).on('click', '.pagination .page-link', function(e) {
                e.preventDefault();
                var page = $(this).attr('href').split('page=')[1];
                loadProducts(page);
            });

            $(document).on('click', function(e) {
                const popup = document.getElementById('productPopup');
                if (!popup.contains(e.target)) {
                    closePopup();
                }
            });
        });

        function loadProducts(page) {
            $.ajax({
                url: '/user/main',
                data: {'page': page},
                success: function(data) {
                    $('.product-container').html($(data).find('.product-container').html());
                    $('.pagination').html($(data).find('.pagination').html());
                }
            });
        }
        function showProductPopup(productId, title, description, price, images) {
            closePopup();
            let overlay = document.getElementById('overlay');
            if (!overlay) {
                overlay = document.createElement('div');
                overlay.id = 'overlay';
                overlay.style.position = 'fixed';
                overlay.style.top = '0';
                overlay.style.left = '0';
                overlay.style.width = '100%';
                overlay.style.height = '100%';
                overlay.style.backgroundColor = 'rgba(0, 0, 0, 0.7)';
                overlay.style.zIndex = '16';
                document.body.appendChild(overlay);  
            }

            const popup = document.getElementById('productPopup');
            popup.innerHTML = `
                <h3>${title}</h3>
                <p>${description}</p>
                <p>Price: $${price}</p>
                ${images ? `<img src='data:image/jpeg;base64,${images}' alt='${title}' style='max-width: 80%; max-height:80%; min-height:80%; display: block; margin: auto;'>` : ''}
            `;
            popup.style.display = 'block'; 
            overlay.style.display = 'block'; 

            overlay.onclick = function() {
                popup.style.display = 'none';
                overlay.style.display = 'none';
            };
        }

        function closePopup() {
            const popup = document.getElementById('productPopup');
            popup.innerHTML = '';
            popup.style.display = 'none';
        }

        document.addEventListener("DOMContentLoaded", function() {
            const categories = document.querySelectorAll('.category-showcase');
            let first_seen_category = 0; 

            function updateVisibility() {
                categories.forEach((category, index) => {
                    category.style.display = (index >= first_seen_category && index < first_seen_category + 4) ? 'flex' : 'none';
                });
            }

            document.getElementById('left-arrow-button').addEventListener('click', function() {
                first_seen_category = (first_seen_category - 1 + categories.length) % categories.length;
                updateVisibility();
            });

            document.getElementById('right-arrow-button').addEventListener('click', function() {
                first_seen_category = (first_seen_category + 1) % categories.length;
                updateVisibility();
            });

            updateVisibility(); 
        });

        window.onload = renderStarRatings;
    </script>
{% endblock %}
