{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>{{ business[1] }}</h2> <!-- business_name -->
<p>{{ business[2] }}</p> <!-- title -->
<p>{{ business[3] }}</p> <!-- description -->
<img src="{{ business[4] }}" alt="{{ business[1] }}" style="max-width: 100%;"> <!-- picture -->
<a href="{% url 'add_product' %}?user_id={{ business[0] }}" class="btn btn-primary">Add Product</a>
<a href="{% url 'list_products' user_id=business[0] %}" class="btn btn-secondary">Manage Products</a>
<a href="{% url 'balance_history' user_id=business[0] %}" class="btn btn-secondary">Balance History</a>
{% endblock %}