<!DOCTYPE html>
<html>
<head>
    <title>Craftvalley</title>
    <link rel="stylesheet" type="text/css" href="Styles/userBase.css">
</head>
<body style="background-color: #FFF7F1">
    <div class="navbar">
        <a class="nav-button" style="grid-column: 1 / span 3;" href="{% url 'home' %}">
            <img src="img/Banner.svg" alt="Search Icon" style="height: 100%; width: 100;">
        </a>

        <button id="category-button" style="grid-column: 4 / span 2;">
            <img src="img/Categories.svg" alt="Search Icon" style="height: 100%; width: 100%;">
        </button>

        <form class="search-bar" style="grid-column: 7 / span 9;">
            <input type="text" placeholder="Search..." name="search">
            <button type="submit">
                <img src="img/SearchButton.svg" alt="Search Icon" style="height: 100%; width: 100%;">
            </button>
        </form>

        <a class="nav-button" style="grid-column: 17;" href="{% url 'signin' %}">
            <img src="img/SignIn.svg" alt="Search Icon" style="height: 100%; width: 100%;">
        </a>

        <a class="nav-button" style="grid-column: 19;" href="{% url 'cart' %}">
            <img src="img/ShoppingCart.svg" alt="Search Icon" style="height: 50%; width: 50%; margin-top: 12.5%;">
        </a>
    </div>

    <ul id="category-list" style="display: none;">
        <li>Category 1</li>
        <li>Category 2</li>
        <li>Category 3</li>
        <li>Category 4</li>
        <li>Category 5</li>
        <li>Category 6</li>
        <li>Category 7</li>
        <li>Category 8</li>
    </ul>
    <script>
        document.addEventListener('click', function(event) {
            var button = document.getElementById('category-button');
            var list = document.getElementById('category-list');
            if (button.contains(event.target)) {
                list.style.display = list.style.display === 'none' ? 'block' : 'none';
            } else if (!list.contains(event.target)) {
                list.style.display = 'none';
            }
        });
    </script>
</body>
</html>