{% extends 'base.html' %}

{% block content %}
<style>
    .form-container {
        padding-top: 50px;
    }

    .custom-input {
        background-color: white; /* Input alanlarının arka plan rengini beyaz yapar */
        max-width: 80%;
        margin: 0 auto;
        font-family: 'Georgia', serif;
        color: #333;
    }

    .custom-input::placeholder {
        color: #000; /* Placeholder yazı rengini siyah yapar */
    }

    .form-label {
        font-family: 'Georgia', serif;
        color: #000; /* Label yazı rengini siyah yapar */
    }

    .btn-custom {
        background-color: #E78895;
        border-color: #E78895;
        max-width: 80%;
        margin: 0 auto;
        font-family: 'Georgia', serif;
        color: white;
    }

    .btn-custom:hover {
        background-color: darken(#E78895, 10%);
        border-color: darken(#E78895, 10%);
    }

    .form-group {
        text-align: center;
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="form-container">
            <h2 class="text-center" style="font-family: 'Georgia', serif; color: #333;">Register as Customer</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 form-group">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control custom-input" id="username" name="username" placeholder="User Name" required>
                </div>
                <div class="mb-3 form-group">
                    <label for="email" class="form-label">E-Mail</label>
                    <input type="email" class="form-control custom-input" id="email" name="email" placeholder="E-Mail" required>
                </div>
                <div class="mb-3 form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control custom-input" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="mb-3 form-group">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <input type="text" class="form-control custom-input" id="phone_number" name="phone_number" placeholder="Phone Number" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-custom w-100">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
