{% extends 'base.html' %}

{% block content %}
<style>
    .form-container {
        padding-top: 20px; /* Adjust the value as needed */
    }
    .custom-input {
        background-color: #BED1CF;
        max-width: 80%; /* Adjust the value as needed */
        margin: 0 auto; /* Center the input fields */
    }
    .btn-custom {
        background-color: #E78895;
        border-color: #E78895;
        max-width: 80%; /* Adjust the value as needed */
        margin: 0 auto; /* Center the button */
    }
    .btn-custom:hover {
        background-color: darken(#E78895, 10%);
        border-color: darken(#E78895, 10%);
    }
    .form-group {
        text-align: center;
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="form-container">
            <h2 class="text-center">Register</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 form-group">
                    <label for="username" class="form-label" style="display: none;">User Name</label>
                    <input type="text" class="form-control custom-input" id="username" name="username" placeholder="User Name" required>
                </div>
                <div class="mb-3 form-group">
                    <label for="email" class="form-label" style="display: none;">E-Mail</label>
                    <input type="email" class="form-control custom-input" id="email" name="email" placeholder="E-Mail" required>
                </div>
                <div class="mb-3 form-group">
                    <label for="password" class="form-label" style="display: none;">Password</label>
                    <input type="password" class="form-control custom-input" id="password" name="password" placeholder="Password" required>
                </div>
                <div class="mb-3 form-group">
                    <label for="phone_number" class="form-label" style="display: none;">Phone Number</label>
                    <input type="text" class="form-control custom-input" id="phone_number" name="phone_number" placeholder="Phone Number" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-custom w-100">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
