{% extends 'small_business/base.html' %}

{% block content %}
<style>
    .form-container {
        padding-top: 50px;
    }

    .profile-info {
        font-family: 'Georgia', serif;
        color: #333;
        max-width: 80%;
        margin: 0 auto;
    }

    .profile-info label {
        font-weight: bold;
        color: #000;
        font-size: 1.1em; 
    }

    .profile-info p {
        color: #000; 
        font-family: 'Georgia', serif; 
        font-size: 1em;
        margin-bottom: 1rem;
    }

    .form-group {
        text-align: center;
        margin-top: 20px;
    }

    .header-spacing {
        margin-bottom: 30px; 
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="form-container">
            <h2 class="text-center header-spacing" style="font-family: 'Georgia', serif; color: #333; font-size: 1.5em;">Business Profile</h2>
            <div class="profile-info">
                <div>
                    <label for="business_name">Business Name:</label>
                    <p id="business_name">{{ business.0 }}</p>
                </div>
                <div>
                    <label for="title">Title:</label>
                    <p id="title">{{ business.1 }}</p>
                </div>
                <div>
                    <label for="description">Description:</label>
                    <p id="description">{{ business.2 }}</p>
                </div>
                <div>
                    <label for="total_balance">Total Balance:</label>
                    <p id="total_balance">${{ total_balance }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
