{% extends 'user/userBase.html' %}

{% block content %}
<style>
    .form-container {
        padding-top: 50px;
    }

    .profile-info {
        font-family: 'Georgia', serif;
        color: #333;
        max-width: 80%;
        margin: 0 auto;
    }

    .profile-info label {
        font-weight: bold;
        color: #000;
        font-size: 1.1em; 
    }

    .profile-info p {
        color: #000; 
        font-family: 'Georgia', serif; 
        font-size: 1em;
        margin-bottom: 1rem;
    }

    .form-group {
        text-align: center;
        margin-top: 20px;
    }

    .header-spacing {
        margin-bottom: 30px; 
    }

    .btn-custom {
        background-color: #E78895;
        border-color: #E78895;
        color: white;
    }

    .btn-custom:hover {
        background-color: #d6717f;
        border-color: #d6717f;
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="form-container">
            <h2 class="text-center header-spacing" style="font-family: 'Georgia', serif; color: #333; font-size: 1.5em;">User Profile</h2>
            <div class="profile-info">
                <div>
                    <label for="username">User Name:</label>
                    <p id="username">{{ user.0 }}</p>
                </div>
                <div>
                    <label for="email">E-Mail:</label>
                    <p id="email">{{ user.1 }}</p>
                </div>
                <div>
                    <label for="phone_number">Phone Number:</label>
                    <p id="phone_number">{{ user.2 }}</p>
                </div>
                <div class="form-group">
                    <a href="{% url 'edit_user_profile' %}" class="btn btn-custom">Edit Profile</a>
                </div>
                <div class="form-group">
                    <a href="{% url 'user_transactions' %}" class="btn btn-custom">Past Purchases</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
