{% extends 'base.html' %}

{% block title %}List Products{% endblock %}

{% block content %}
<div class="list-products-container">
    <h1>List Products</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.1 }}</td>
                <td>{{ product.2 }}</td>
                <td>{{ product.3 }}</td>
                <td>{{ product.4 }}</td>
                <td>
                    <a href="{% url 'edit_product' product.0 %}">Edit</a>
                    <a href="{% url 'delete_product' product.0 %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
